Week 5, Assignment C1:

Logistic Regression with Yahoo! Finance API in Python

In this notebook, we will study Logistic Regression using the Yahoo! Finance API in Python.

Please complete the lines bellow where you see "#TODO".

In [1]:
#Bashayer AlAhmadi
#Objective 1.
#Use this cell to import the Numpy (as np), Pandas (as pd), and YFinance (as yf) packages.
import datetime as dt
import numpy as np
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yf

#Our work will also require some components of the Sklearn and Pandas_Datareader packages as imported below:

from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from pandas_datareader import data as pdr
yf.pdr_override()

In [2]:
#Objective 2.
#Select a stock symbol for a stock whose historical data is available on the Yahoo! Finance website.  Store the
#string of your chosen symbol to the new variable "stock_symbol".

stock_symbol = "AMZN"

In [3]:
#Objective 3.
#Use the function "pdr.get_data_yahoo(stock_symbol, start_date, end_date)" to generate a Pandas dataframe of
#historical stock data for your chosen stock.  Retain only the first four columns of the dataframe.  Be sure to 
#drop any rows containing NaN's, and take a peek at the resulting dataframe to make sure everything looks good.

end_date = dt.datetime.now()  
start_date = dt.datetime(2020,1,1)
df = pdr.get_data_yahoo(stock_symbol, start_date, end_date)
df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-12-31,1842.000000,1853.260010,1832.229980,1847.839966,1847.839966,2506500
2020-01-02,1875.000000,1898.010010,1864.150024,1898.010010,1898.010010,4029000
2020-01-03,1864.500000,1886.199951,1864.500000,1874.969971,1874.969971,3764400
2020-01-06,1860.000000,1903.689941,1860.000000,1902.880005,1902.880005,4061800
2020-01-07,1904.500000,1913.890015,1892.040039,1906.859985,1906.859985,4044900
...,...,...,...,...,...,...
2021-11-08,3523.239990,3579.000000,3487.860107,3488.979980,3488.979980,3074000
2021-11-09,3515.250000,3593.770020,3501.429932,3576.229980,3576.229980,4294900
2021-11-10,3563.870117,3605.449951,3463.090088,3482.050049,3482.050049,4027400
2021-11-11,3513.000000,3543.239990,3467.469971,3472.500000,3472.500000,2258400
2021-11-12,3485.000000,3540.726318,3447.050049,3529.469971,3529.469971,1579340

In [ ]:
df = df[df.columns[:4]] #Retain only the first four columns of the dataframe 
#df=df.iloc[: , :4] #Second Approach to Retain only the first four columns of the dataframe
#df=df.T.head(4).T  #third Approach to Retain only the first four columns of the dataframe
df = df.dropna()
df

In [4]:
#Objective 4.
#Use the historical data to define some predictor variables.  Add these variables to the dataframe.  Include, at a
#minimum, (Predictor.I) the rolling average closing price over the past fifteen (15) days and (Predictor.II) the
#change in opening price over the past one (1) day.  Be sure to again drop any rows containing NaN's, and take a
#peek at the resulting dataframe to make sure everything looks good.  Store the dataframe as the new variable "X".
df['Close_15_Rolling'] = df['Close'].rolling(window=15).mean() 
df['Open_1_Change'] = df['Open'].diff() 
df = df.dropna()
X=df
X

,Open,High,Low,Close,Adj Close,Volume,Close_15_Rolling,Open_1_Change
Date,,,,,,,,
2020-01-22,1896.089966,1902.500000,1883.339966,1887.459961,1887.459961,3216300,1883.441325,31.089966
2020-01-23,1885.109985,1889.979980,1872.760010,1884.579956,1884.579956,2484600,1885.890658,-10.979980
2020-01-24,1891.369995,1894.989990,1847.439941,1861.640015,1861.640015,3766200,1883.465991,6.260010
2020-01-27,1820.000000,1841.000000,1815.339966,1828.339966,1828.339966,3528500,1880.357324,-71.369995
2020-01-28,1840.500000,1858.109985,1830.020020,1853.250000,1853.250000,2808000,1877.048657,20.500000
...,...,...,...,...,...,...,...,...
2021-11-08,3523.239990,3579.000000,3487.860107,3488.979980,3488.979980,3074000,3402.502018,46.239990
2021-11-09,3515.250000,3593.770020,3501.429932,3576.229980,3576.229980,4294900,3411.307357,-7.989990
2021-11-10,3563.870117,3605.449951,3463.090088,3482.050049,3482.050049,4027400,3415.773356,48.620117
2021-11-11,3513.000000,3543.239990,3467.469971,3472.500000,3472.500000,2258400,3418.272689,-50.870117
2021-11-12,3485.000000,3540.726318,3447.050049,3529.469971,3529.469971,1579340,3431.200684,-28.000000

In [5]:
#Objective 5.
#Define the target or dependent variable to be one (1) if the change in closing price over the past one (1) day is
#nonnegative and negative one (-1) if the change in closing price over the past one (1) day is negative.  This
#variable's values should be forward-looking (i.e., you should subtract today's price from tomorrow's price rather
#than subtracting yesterday's price from today's price).  Store the resulting values as the new variable "y".  You
#may find the "np.where(*args)" function to be useful.  Look it up in Numpy documentation for support.

y = np.where(-df["Close"].diff(-1) > 0, 1, -1)

In [6]:
#Objective 6.
#Split the data into training and test sets, putting the first seventy percent (70%) of the data in the training
#set.

index = int(0.7*len(X))
X_train, X_test, y_train, y_test = X[:index], X[index:], y[:index], y[index:]

In [7]:
#Objective 7.
#Instantiate the Logistic Regression model object, and use its ".fit(*args)" method to fit the model to the 
#training data.

logistic = LogisticRegression()
logistic = logistic.fit(X_train, y_train)

In [8]:
#Objective 8.
#Examine the model's coefficients by using its ".coef_" method.

pd.DataFrame(zip(X.columns, np.transpose(logistic.coef_))) #[1/1+e^coef] <= We call all of this a probability

                  0                          1
0              Open   [1.1919890233228332e-05]
1              High   [1.2194187254329693e-05]
2               Low   [1.2354665632928381e-05]
3             Close   [1.2076095782309988e-05]
4         Adj Close   [1.2076095782309988e-05]
5            Volume   [1.2369642660858707e-09]
6  Close_15_Rolling   [1.2830321554701285e-05]
7     Open_1_Change  [-1.0139617175127892e-06]

In [9]:
#Objective 9.
#Use the model's ".predict_proba(*args)" and ".predict(*args)" methods to generate predictions over the test set.

probabilities = logistic.predict_proba(X_test) #The actual prob between 0 and 1 justlike pct.change
predictions = logistic.predict(X_test) #the resulted Y value should be 
probabilities
#predictions
#the higher the number on right the more chane go up

array([[0.43437787, 0.56562213],
       [0.43577933, 0.56422067],
       [0.43739035, 0.56260965],
       [0.43831743, 0.56168257],
       [0.43825783, 0.56174217],
       [0.43799688, 0.56200312],
       [0.4388244 , 0.5611756 ],
       [0.43974751, 0.56025249],
       [0.44010202, 0.55989798],
       [0.44055891, 0.55944109],
       [0.43999827, 0.56000173],
       [0.43911221, 0.56088779],
       [0.43946541, 0.56053459],
       [0.44018514, 0.55981486],
       [0.43980982, 0.56019018],
       [0.43978323, 0.56021677],
       [0.44012278, 0.55987722],
       [0.43959025, 0.56040975],
       [0.43960425, 0.56039575],
       [0.44001578, 0.55998422],
       [0.44025357, 0.55974643],
       [0.44026628, 0.55973372],
       [0.44040521, 0.55959479],
       [0.44075107, 0.55924893],
       [0.44059169, 0.55940831],
       [0.44081375, 0.55918625],
       [0.43963691, 0.56036309],
       [0.4394622 , 0.5605378 ],
       [0.43848957, 0.56151043],
       [0.43829643, 0.56170357],
       [0.43804271, 0.56195729],
       [0.43784269, 0.56215731],
       [0.43696712, 0.56303288],
       [0.43582893, 0.56417107],
       [0.43529605, 0.56470395],
       [0.43622844, 0.56377156],
       [0.43569944, 0.56430056],
       [0.43561874, 0.56438126],
       [0.43570753, 0.56429247],
       [0.43632396, 0.56367604],
       [0.4366682 , 0.5633318 ],
       [0.4365459 , 0.5634541 ],
       [0.4363721 , 0.5636279 ],
       [0.43664719, 0.56335281],
       [0.43551319, 0.56448681],
       [0.43237369, 0.56762631],
       [0.43149352, 0.56850648],
       [0.43151449, 0.56848551],
       [0.43159629, 0.56840371],
       [0.43179425, 0.56820575],
       [0.43174144, 0.56825856],
       [0.43203555, 0.56796445],
       [0.43256696, 0.56743304],
       [0.43308889, 0.56691111],
       [0.43406742, 0.56593258],
       [0.43381062, 0.56618938],
       [0.43390106, 0.56609894],
       [0.43294976, 0.56705024],
       [0.43270152, 0.56729848],
       [0.4319492 , 0.5680508 ],
       [0.43217069, 0.56782931],
       [0.43274699, 0.56725301],
       [0.43234669, 0.56765331],
       [0.43508392, 0.56491608],
       [0.43720407, 0.56279593],
       [0.43680656, 0.56319344],
       [0.43731101, 0.56268899],
       [0.43722853, 0.56277147],
       [0.43743327, 0.56256673],
       [0.43778506, 0.56221494],
       [0.43791952, 0.56208048],
       [0.43819846, 0.56180154],
       [0.43860299, 0.56139701],
       [0.43876871, 0.56123129],
       [0.43873123, 0.56126877],
       [0.4391654 , 0.5608346 ],
       [0.43993025, 0.56006975],
       [0.44005359, 0.55994641],
       [0.44022412, 0.55977588],
       [0.43952006, 0.56047994],
       [0.43902829, 0.56097171],
       [0.43919577, 0.56080423],
       [0.43893959, 0.56106041],
       [0.43844528, 0.56155472],
       [0.43727919, 0.56272081],
       [0.43620871, 0.56379129],
       [0.43572765, 0.56427235],
       [0.43609631, 0.56390369],
       [0.4363341 , 0.5636659 ],
       [0.43573668, 0.56426332],
       [0.4352787 , 0.5647213 ],
       [0.43555276, 0.56444724],
       [0.43592069, 0.56407931],
       [0.4360485 , 0.5639515 ],
       [0.43630314, 0.56369686],
       [0.43600677, 0.56399323],
       [0.43581281, 0.56418719],
       [0.4352031 , 0.5647969 ],
       [0.43674288, 0.56325712],
       [0.43751995, 0.56248005],
       [0.43745048, 0.56254952],
       [0.43694941, 0.56305059],
       [0.43687321, 0.56312679],
       [0.43682449, 0.56317551],
       [0.43749099, 0.56250901],
       [0.43832443, 0.56167557],
       [0.43854502, 0.56145498],
       [0.43878184, 0.56121816],
       [0.43924281, 0.56075719],
       [0.43966907, 0.56033093],
       [0.43968974, 0.56031026],
       [0.43887296, 0.56112704],
       [0.4390272 , 0.5609728 ],
       [0.43963579, 0.56036421],
       [0.43985503, 0.56014497],
       [0.43930458, 0.56069542],
       [0.43907679, 0.56092321],
       [0.43713167, 0.56286833],
       [0.43693643, 0.56306357],
       [0.4368935 , 0.5631065 ],
       [0.43709783, 0.56290217],
       [0.43718459, 0.56281541],
       [0.43762266, 0.56237734],
       [0.43854111, 0.56145889],
       [0.43767015, 0.56232985],
       [0.4372908 , 0.5627092 ],
       [0.43580682, 0.56419318],
       [0.43692328, 0.56307672],
       [0.43790146, 0.56209854],
       [0.43848865, 0.56151135],
       [0.43760352, 0.56239648],
       [0.43574029, 0.56425971],
       [0.4347324 , 0.5652676 ],
       [0.43526336, 0.56473664],
       [0.43427105, 0.56572895],
       [0.43485029, 0.56514971],
       [0.43573442, 0.56426558],
       [0.43571918, 0.56428082]])

In [10]:
predictions

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1])

In [11]:
#Objective 10.
#Use the function "metrics.confusion_matrix(*args)" to create a confusion matrix comparing the predicted and true
#classification labels over the test set.

metrics.confusion_matrix(y_test, predictions) #compare between y test and the new generated y value
#[true negative and false positive]

array([[ 0, 69],
       [ 0, 69]], dtype=int64)

In [12]:
#Objective 11.
#Calculate the model's accuracy on the test set using its ".score(*args)" method.

logistic.score(X_test, y_test)

0.5

In [13]:
#Objective 12.
#Use five-fold cross validation to cross-check the accuracy of the model over different held-out test sets.  This
#is where you should use the function "cross_val_score(*args)".

cross_val = cross_val_score(logistic ,X_test, y_test)
cross_val.mean()

0.5296296296296296